<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990247137104-r2dqi43ntroi34uqe0ef3rqimcg6iadk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990247137104-r2dqi43ntroi34uqe0ef3rqimcg6iadk</string>
	<key>API_KEY</key>
	<string>AIzaSyBtG61MFNARc2GQ9wtll_9j99AfvB14R7g</string>
	<key>GCM_SENDER_ID</key>
	<string>990247137104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ttoo1</string>
	<key>PROJECT_ID</key>
	<string>tototo-69377</string>
	<key>STORAGE_BUCKET</key>
	<string>tototo-69377.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990247137104:ios:c17e249d91704681218655</string>
</dict>
</plist>